@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;

  &:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, var(--gray1) 100%);
    position: absolute;
    content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
  }

  &:after {
    content: '';
    background-image: url('/grid.svg');
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.2;
    filter: invert(1);

    @media (prefers-color-scheme: dark) {
      filter: unset;
    }
  }
}  



::selection {
  background: #ffc669;
  /* color: black; */
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.profile-pic {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.no-profile-pic {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  background-image: linear-gradient(to right top,rgba(200,10,100),rgba(255,200,100), rgba(255,255,255));
}

.profile {
  display: flex;
  align-items: center;
  /* justify-content: center;
  flex-wrap: wrap;
  max-width: 800px; */
  padding: 0.5rem;
}

.profile-intro {
  padding-left: 15px;
  padding-top: 10px
}

.profile-title {
  padding-top: 1.7rem;
}


